<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
        <title>Login</title>
    </head>
    <body>
        <header class="header">
            <img class="header__img" src="./assets/platzi-logo.png" alt="Logo de platzi video">
        </header>
        <section class="login">
            <div class="login__container">
                <h2>Inicia sesion</h2>
                <form class="login__container--form" action="">
                    <input class="input" type="text" placeholder="Correo">
                    <input class="input" type="password" placeholder="Contraseña">
                    <button class="button">Iniciar sesion</button>
                    <div class="login__container--rememberme">
                        <label>
                            <input type="checkbox" id="cbox1" value="checkbox"> Recuerdame
                        </label>
                        <a href="">Olvide mi contraseña</a>
                    </div>

                </form>
                <div class="login__container--socialmedia">
                    <div><img src="./assets/google-icon.png" alt="Google"> Inicia sesion con google</div>
                    <div><img src="./assets/twitter-icon.png" alt="Twitter">Inicia sesion con twitter</div>
                </div>
                <p class="login__container--register">No tienes cuenta? <a href="/">Registrate</a></p>
            </div>

        </section>
        <footer class="footer">
            <a href="/">Terminos y condiciones</a>
            <a href="/">Centro de ayuda</a>
            <a href="/">Declaracion de privacidad</a>
        </footer>

    </body>

</html>