<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style_reg.css">
        <title>register</title>
    </head>
    <body>
        <header class="header">
            <img class="header__img" src="./assets/platzi-logo.png" alt="Logo de platzi video">
        </header>
        <section class="register">
            <div class="register__container">
                <h2>Registrate</h2>
                <form class="register__container--form" action="">
                    <input class="input" type="text" placeholder="Nombre">
                    <input class="input" type="text" placeholder="Correo">
                    <input class="input" type="password" placeholder="Contraseña">
                    <button class="button">Registrarme!</button>
                    <div class="register__container--rememberme">
                        <a href="/">Iniciar sesion</a>
                    </div>

                </form>
            </div>

        </section>
        <footer class="footer">
            <a href="/">Terminos y condiciones</a>
            <a href="/">Centro de ayuda</a>
            <a href="/">Declaracion de privacidad</a>
        </footer>

    </body>

</html>